[submodule "DLP/picohttpparser"]
	path = DLP/picohttpparser
	url = https://github.com/h2o/picohttpparser.git
[submodule "DLP/levenshtein-sse"]
	path = DLP/levenshtein-sse
	url = https://github.com/addaleax/levenshtein-sse.git
[submodule "DLP/aho_corasick"]
	path = DLP/aho_corasick
	url = https://github.com/cjgdev/aho_corasick.git
[submodule "external/pcre2"]
	path = external/pcre2
	url = https://github.com/PCRE2Project/pcre2.git
